{{define "base_footer"}}
<div class="bt-footer-container">
    <div class="bt-footer-area">
        <div class="bt-footer-text">
            xxx交流群：xxxx
        </div>
        <div class="bt-footer-text">
            Copyright © schoeu.com 4.0 2016 All Rights Reserved. 京ICP备xxxx号
        </div>
    </div>
</div>
{{end}}