{{define "base_header"}}
<header class="bt-header">
    <div class="bt-content bt-clear bt-container">
        <div class="bt-hdleft bt-color-white">
            <span class="bt-logo">

            </span>
            <span class="bt-logoinfo">
                SCHOEU
            </span>
        </div>
        <div class="bt-hdright bt-color-white bt-text-right">
            <span class="bt-login">
                登陆
            </span>
            <span class="bt-signin">
                注册
            </span>
        </div>
    </div>
</header>
{{end}}