{{define "header"}}
<header class="bt-header">
    <div class="bt-content">
        <div class="bt-hdleft">
            <span class="bt-logo">

            </span>
        </div>
        <div class="bt-hdright">

        </div>
    </div>
</header>
{{end}}