{{define "loggedin_header"}}
<header class="bt-header">
    <div class="bt-content bt-clear bt-container">
        <div class="bt-hdleft bt-color-white">
            <span class="bt-logo">

            </span>
            <span class="bt-logoinfo">
                SCHOEU
            </span>
        </div>
        <div class="bt-hdright bt-color-white bt-text-right">
            <span class="bt-login">
                爱美丽
            </span>
            <span class="bt-signin">
                退出
            </span>
        </div>
    </div>
</header>
{{end}}