<html>
<head>
    {{template "base_headinfo"}}
    <link type="text/css" rel="stylesheet" href="/static/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
</head>

<body>

{{template "base_header" .}}

<div class="bt-container bt-nav bt-font-14">
    <div class="bt-clear">
        <div class="bt-nav-item">
            设计平台
        </div>
        <div class="bt-nav-item">
            动效设计开发
        </div>
        <div class="bt-nav-item">
            数据库
        </div>
        <div class="bt-nav-item">
            人人都是产品经理
        </div>
        <div class="bt-nav-item">
            设计平台
        </div>
        <div class="bt-nav-item">
            动效设计开发
        </div>
        <div class="bt-nav-item">
            数据库
        </div>
        <div class="bt-nav-item">
            人人都是产品经理
        </div>
        <div class="bt-nav-item">
            设计平台
        </div>
        <div class="bt-nav-item">
            动效设计开发
        </div>
        <div class="bt-nav-item">
            数据库
        </div>
        <div class="bt-nav-item">
            人人都是产品经理
        </div>
    </div>
    <div class="bt-recom-list">
        <div class="bt-recom-area">
            <header class="bt-recom-title">设计平台</header>
            <div class="bt-recom-rcitems">
                <div class="bt-recom-rerow">
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                </div>
                <div class="bt-recom-rerow">
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-recom-area">
            <header class="bt-recom-title">设计平台</header>
            <div class="bt-recom-rcitems">
                <div class="bt-recom-rerow">
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                </div>
                <div class="bt-recom-rerow">
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                    <div class="bt-recom-item">
                        <header>
                            <span class="bt-recom-icon"></span>
                            <span class="bt-recom-hdtext">Dribble</span>
                        </header>
                        <div class="bt-recom-desc">
                            展示和发现创意作品的领先在线平台，囊括了各个领域的创意人才
                        </div>
                        <div class="bt-recom-col">
                            <span class="bt-recom-cicon"></span>
                            <span class="bt-recom-like">收藏</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "base_footer" .}}

<script src="/static/js/jq.min.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>
