<html>
<head>
    {{template "base_headinfo"}}
    <link type="text/css" rel="stylesheet" href="/static/css/sign.css"/>
</head>

<body class="bg-white">
<div class="bg-white">

    {{template "base_nav"}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Make a living off your passion</h1>
                <p>Get started by filling in your info below.</p>
            </div>
        </div>
        <div class="row v-center">
            <div class="col-sm-5 col-sm-offset-1">
                <form class="signup-form" role="form" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="l586A4sEj8EYlko8d4vCXmvqMzBPxfJAiCpHE1j+QeTxBP6wCmN4SjRIDMdqCGIrpo6L62hb/zh56MZnXY7u0Q==">
                    <div class="form-group"><label class="control-label" for="user_full_name">Your name</label><input placeholder="Homer Simpson" required="required" autofocus="autofocus" class="form-control" type="text" value="" name="user[full_name]" id="user_full_name"></div>
                    <div class="form-group"><label class="control-label" for="user_email">Your email</label><input placeholder="donutluvr986@aol.com" required="required" class="form-control" type="email" name="user[email]" id="user_email"></div>
                    <div class="form-group"><label class="control-label" for="user_password">Password</label><input placeholder="mmmdonuts123" required="required" class="form-control" type="password" name="user[password]" id="user_password"></div>
                    <div class="row v-center">
                        <div class="col-sm-5"><input type="submit" name="commit" value="Next" class="btn btn-primary btn-block"></div>
                        <div class="col-sm-7">
                            <div class="signup-tos"><div class="text-muted">
                                By clicking "Next" you agree to our
                                <a class="text-sans-serif text-bold text-muted" target="_blank" href="/terms">Terms of Service</a>
                                and
                                <a class="text-sans-serif text-bold text-muted" target="_blank" href="/privacy">Privacy Policy.</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5 hidden-xs">
                <img class="img-responsive center-block" src="/static/imgs/side.svg" alt="Profit">
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</div>

<script src="/static/js/jq.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
