{{define "signin_header"}}
<header class="bt-header">
    <div class="bt-content bt-clear bt-container">
        <div class="bt-hdleft bt-color-white">
            <span class="bt-logo">

            </span>
            <span class="bt-logoinfo">
                SCHOEU
            </span>
            <div class="bt-logoinfo bt-font-13">
                <span class="bt-recom-opacity5 bt-gap-left-8">
                    首页
                </span>
                    <span class="bt-gap-left-8">
                    我的主页
                </span>
                    <span class="bt-recom-opacity5 bt-gap-left-8">
                    消息
                </span>
            </div>
        </div>
    </div>
</header>
{{end}}